%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et

%%%------------------------------------------------------------------------------
%%% @copyright (c) 2017, DuoMark International, Inc. All Rights Reserved.
%%% @author Jay Nelson <jay@duomark.com>
%%%------------------------------------------------------------------------------

[
  {esse,
   [
    { max_accepters,      10 },
    { max_sessions,      100 },
    { sse_port,         9997 },
    { sse_send_timeout, 3000 }
   ]
  }
].
